/* основной цвет фона #E5E5E5 */
/* вторичный цвет фона  #2f303a */
/* белый цвет #FFFFFF */
/* основной цвет текста #212121 */
/* вторичный цвет текста #757575 */
/* акцентный цвет #2196F3 */

:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;

  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #000000;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --accent-background-color: #2f303a;
  --active-button-background-color: #188ce8;
  --link-color: #afb1b8;

  --primary-font-size: 14px;
  --secondary-font-size: 16px;

  --primary-font-weight: 500;
  --secondary-font-weight: 700;

  --primary-line-height: 1.14;
  --button-line-height: 1.87;
  --secondary-line-height: 1.71;
}

body {
  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  background-color: var(--primary-background-color);
}

img {
  display: block;

  max-width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  margin-top: 0;
}

p {
  margin: 0;
}

/*Убирает подчеркивание у ссылок*/

a {
  text-decoration: none;
}

/*Убирает маркеры и отступы*/
ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

/*Скрывает заголовки*/

.subtitle--hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*Основной контейнер*/

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0px 15px;

  width: 1200px;

  display: flex;
}

.container--block {
  display: block;
}

/* Кнопки */

.button {
  font-size: var(--secondary-font-size);
  font-weight: var(--secondary-font-weight);
  line-height: var(--button-line-height);
  letter-spacing: 0.06em;
  color: var(--primary-background-color);

  background-color: var(--accent-color);

  border: 1px solid transparent;
  border-radius: 4px;

  cursor: pointer;
  text-decoration: none;
  outline: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--big-size {
  min-width: 200px;
  min-height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.email-form__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  min-width: 200px;
  min-height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.select-buttons__btn {
  padding: 6px 22px;

  font-weight: var(--primary-font-weight);
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  background-color: var(--secondary-background-color);
}

.select-buttons__btn:hover,
.select-buttons__btn:focus {
  color: var(--primary-background-color);

  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button:hover,
.button:focus {
  background-color: var(--active-button-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.select-buttons {
  margin-bottom: 50px;

  display: flex;
  justify-content: center;
}

.select-buttons__item {
  margin-right: 8px;
}

.select-buttons__item:last-child {
  margin-right: 0;
}

/* Шапка сайта */

.header-page {
  border-bottom: 1px solid #ececec;
}

/* Основная навигация сайта */

.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Логотип сайта */

.logo {
  font-family: var(--secondary-font-family);
  font-size: 26px;
  font-weight: var(--secondary-font-weight);
  line-height: 1.2;
}

.logo--start {
  color: var(--accent-color);
}

.logo--end {
  color: var(--accent-text-color);
}

.footer-page_logo--end {
  color: var(--primary-background-color);
}

/* Меню навигации */

.nav-menu {
  display: flex;
}

.nav-menu--indent {
  margin-left: 93px;
}

.nav-menu__item {
  position: relative;
  margin-right: 50px;
}

.nav-menu__item:last-child {
  margin-right: 0;
}

.nav-menu__link {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: var(--primary-font-weight);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu__link:hover,
.nav-menu__link:focus {
  color: var(--accent-color);
}

/* Текущая страница */

.nav-menu__link--current {
  color: var(--accent-color);
}

.nav-menu__link--current::after {
  content: "";
  position: absolute;
  bottom: -32px;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

/* Список Контактов */

.contact-list {
  margin-left: auto;
  display: flex;
}

.contact-list__item {
  margin-left: 50px;
}

.contact-list__item:first-child {
  margin-left: 0;
}

.contact-list__link {
  padding-top: 32px;
  padding-bottom: 32px;

  display: flex;

  font-weight: var(--primary-font-weight);
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__link:hover,
.contact-list__link:focus {
  color: var(--accent-color);
}

.contact-list__icon {
  width: 36px;

  fill: currentColor;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__icon:hover,
.contact-list__icon:focus {
  fill: var(--accent-color);
}

/*Главная страница контента Студия*/

/* Секция Герой*/

.hero-section {
  height: 100vh;

  background-color: #c4c4c4;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");

  background-size: cover;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-box {
  align-items: center;
  justify-content: center;

  height: 100%;
}

.hero-content {
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
}

.hero-content__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);

  text-transform: uppercase;
}

/* Секция Особенности */
.section {
  padding: 94px 0px;
}

.subtitle {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.features-list {
  display: flex;
}

.features-list__item {
  margin-right: 30px;
}

.features-list__item:last-child {
  margin-right: 0;
}

.features-list__icon {
  margin-bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;

  background-color: var(--secondary-background-color);

  border-radius: 4px;
}

.features-list__title {
  margin-bottom: 10px;

  font-size: var(--primary-font-size);
  text-transform: uppercase;
}

.features-list__text {
  line-height: var(--secondary-line-height);
  color: var(--secondary-text-color);
}

/* Секция Основные направления */

.section--top__zero {
  padding-top: 0;
}

.direct-list {
  display: flex;
}

.direct-list__item {
  position: relative;

  margin-left: 30px;
}

.direct-list__item:first-child {
  margin-left: 0;
}

.direct-list__label {
  position: absolute;
  bottom: 0;
  padding: 27px 0;

  width: 100%;

  font-weight: var(--secondary-font-weight);
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-background-color);

  background-color: rgba(47, 48, 58, 0.8);
}

/* Секция Команда */

.section--theme__light {
  background-color: var(--secondary-background-color);
}

.team-card {
  margin-right: 30px;
  line-height: 1.19;
  text-align: center;

  background-color: var(--primary-background-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card:nth-child(4n) {
  margin-right: 0;
}

.team-card__name {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: var(--primary-font-weight);
}

.team-card__text {
  margin-bottom: 16px;

  color: var(--secondary-text-color);
}

.social-links {
  display: flex;

  justify-content: space-between;
}

.social-links--centering {
  margin-right: 32px;
  margin-bottom: 30px;
  margin-left: 32px;
}

.social-links__name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  color: var(--link-color);
  background-color: rgba(255, 255, 255, 0.1);

  border-radius: 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__icon {
  fill: currentColor;
}

.social-links__name:hover,
.social-links__name:focus {
  color: var(--primary-background-color);
  background-color: var(--accent-color);
}

/*Главная страница Портфолио*/

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: -30px;
}

.grid__item {
  display: flex;

  flex-basis: calc(100% / 3 - 30px);
  min-width: 370px;

  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;

  border: 1px solid #eeeeee;
}

.grid__project-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.grid__project-link:hover,
.grid__project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.grid__card {
  position: relative;

  overflow: hidden;
}

.grid__project-link:hover .grid__overlay,
.grid__project-link:focus .grid__overlay {
  transform: translatey(0);
}

.grid__overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.grid__overlay > .grid__text-overlay {
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-background-color);
}

.grid__meta {
  padding: 20px 23px;
}

.grid__meta-title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.grid__meta-text {
  font-size: var(--secondary-font-size);
  line-height: 1.87;
  color: var(--secondary-text-color);
}

/* Секция Постоянные Клиенты*/

.clients-list {
  display: flex;
}

.clients-list__item {
  margin-right: 30px;
}

.clients-list__item:last-child {
  margin-right: 0;
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;

  color: var(--link-color);

  border: 1px solid var(--link-color);
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover,
.clients-list__link:focus {
  color: var(--accent-color);
}

.clients-list__icon {
  fill: currentColor;
}

/* Подвал сайта */

.footer-page {
  padding-top: 60px;
  padding-bottom: 60px;

  background: var(--accent-background-color);
}

.address {
  margin-top: 20px;

  font-style: normal;
  font-size: var(--primary-font-size);
  line-height: var(--secondary-line-height);
  color: var(--primary-background-color);
}

.address__text,
.address__link {
  padding-bottom: 9px;
}

.address__link:nth-last-child(n) {
  padding-bottom: 0;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
}

/* Присоединяйтесь */

.footer-box {
  margin-top: 12px;
  margin-left: 70px;
}

.footer-box__text {
  margin-bottom: 20px;

  font-weight: var(--secondary-font-weight);
  color: var(--primary-background-color);
  text-transform: uppercase;
}

.social-links__item {
  margin-right: 10px;
}

.social-links__item:last-child {
  margin-right: 0;
}

.social-links__icon--white {
  color: var(--primary-background-color);
}

/* Форма подписки */

.footer-box--indent {
  margin-left: auto;
}

.email-form {
  display: flex;
  max-width: 570px;
  align-items: flex-end;
  justify-content: space-between;
}

.email-form__label {
  font-weight: var(--secondary-font-weight);
  text-transform: uppercase;

  color: var(--primary-background-color);

  cursor: pointer;
}

.email-form__input {
  margin-top: 20px;
  padding-left: 16px;

  width: 358px;
  height: 50px;

  background-color: var(--accent-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  outline: none;
}

.email-form__input::placeholder {
  font-size: var(--secondary-font-size);
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.email-form__input:not(:placeholder-shown) {
  font-size: var(--secondary-font-size);
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.icon-send {
  margin-left: 10px;

  fill: currentColor;
}

/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-height: 581px;
  min-width: 528px;
  padding: 8px;

  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-buttton {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background-color: var(--primary-background-color);
  color: var(--accent-text-color);

  cursor: pointer;
}

.close-icon {
  fill: currentColor;
}

.close-buttton:hover,
.close-buttton:focus {
  color: var(--accent-color);
}

/* Форма Заявки */

textarea {
  resize: none;

  padding: 12px 16px;

  width: 100%;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline: none;
}

.modal-title {
  margin-top: 32px;
  margin-bottom: 12px;

  font-size: var(--secondary-font-size);
  line-height: 1.15;
  text-align: center;
}

.modal-form {
  padding: 0;
  margin: 0px auto;
  margin-top: 30px;
  text-align: center;

  width: 448px;
}

.form-field {
  position: relative;

  display: block;
  margin-bottom: 10px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);

  outline: none;
}

.form-field > textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-label {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(-10px);
}

.form-input {
  margin-bottom: 28px;

  color: var(--primary-text-color);

  outline: none;
}

.form-input input {
  margin: 0;
  padding: 11px 12px;
  padding-left: 42px;

  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-modal {
  position: absolute;
  top: 50%;
  left: 12px;

  display: inline-block;
  width: 18px;
  height: 18px;

  fill: currentColor;

  transform: translateY(-50%);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus-within > input {
  color: var(--accent-color);

  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.form-input:focus-within > .icon-modal {
  color: var(--accent-color);
}

.comment:focus-within {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.checkbox-label {
  font-size: var(--primary-font-size);
  line-height: var(--secondary-line-height);
  letter-spacing: 0.03em;
}

.label-link {
  color: var(--accent-color);

  text-decoration: underline;
}

.check {
  margin-top: 20px;
  margin-bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-submit {
  padding: 0;
  min-width: 200px;
  min-height: 50px;

  font-size: var(--secondary-font-size);
  font-weight: var(--secondary-font-weight);
  line-height: var(--button-line-height);
  letter-spacing: 0.06em;
  color: var(--primary-background-color);

  background-color: var(--accent-color);

  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;

  text-decoration: none;
  outline: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-submit:hover,
.btn-submit:focus {
  background-color: var(--active-button-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox:checked + .icon-input {
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
}

.icon-input {
  margin-right: 8px;

  display: inline-block;
  width: 16px;
  height: 15px;

  border: 2px solid #2a2a2a;
  border-radius: 2px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
